<form action="/" method="POST">

<tbody>    
  <tr>
    <th></th>
    <th><input name="todo"  id = "todo" rows="5"></th>
    <th><input name="detail" id = "detail" rows="5"></th>
  </tr>
</tbody>

  <input  type="submit" value="新規">   
</form>
