<form action="new" method="GET">
<tbody>    
  <% @file_contents.each do |content| %>
  <tr>
   <th><a href = "show/<%= content["id"] %>">メモ<%= content["id"] %></a></th>
   <th><%= content["todo"]%></th>
   <th><%= content["detail"]%></th>

  </tr>
  <% end %>
</tbody>

  <input  type="submit" value="追加">
</form>

